.document_thumbnail {
	width: 300px;
	aspect-ratio: 1 / 1;

	@media screen and (max-width: 800px) {
		width: 200px;
	}
}

.visible_doc_section {
	opacity: .3;
	transition: opacity .3s ease;

	h2,
	p {
		margin: 0;
	}
}

.highlight {
	opacity: 1;
}


.doc_details_popup {
	z-index: 10;
	position: absolute;
	top: 10%;
	width: 50%;
	min-height: 250px;
	max-height: 400px;
	border-radius: 10px;
	background-color: var(--background-color);
	border: 3px double var(--accent-color);
	opacity: 0;
	pointer-events: none;
	text-align: left;
	transition: opacity 0.3s ease, transform 0.3s ease;

	display: flex;
	flex-direction: column;
	padding: 0;
	overflow: hidden;

	@media screen and (max-width: 800px) {
		top: 95%;
		width: 65%;
	}

	li {
		margin-bottom: 0;
	}

	p {
		margin: 0;
	}
}

.doc_details_content {
	padding: .7rem;
	overflow: hidden;
	flex-grow: 1;
}

.scroll_arrow {
	background-color: var(--background-color);
	color: var(--accent-color);
	border: none;
	border-bottom: 1px solid var(--accent-color);
	width: 100%;
	padding: 8px 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	flex-shrink: 0;
	z-index: 2;
	transition: color 0.2s ease, opacity 0.2s ease;

	&:last-of-type {
		border-bottom: none;
		border-top: 1px solid var(--accent-color);
	}

	&:disabled {
		color: grey;
		cursor: default;
		opacity: 0.5;
	}

	&:not(:disabled):hover {
		opacity: 0.7;
	}
}

.left_aligned_popup {
	left: 0;
	transform: translateX(40px);
}

.right_aligned_popup {
	right: 0;
	transform: translateX(-40px);
}

.pop_up {
	opacity: 1;
	transform: translateX(0);
	pointer-events: auto;
}

.hide {
	opacity: 0;
	pointer-events: none;
}