.modal_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal_window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60dvh;
	width: 80%;
	max-width: 600px;
	background-color: rgb(42, 42, 42);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow-y: auto;
	padding: 20px;
	z-index: 1000;

	.image_list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		list-style: none;
		justify-content: center;
		padding: 0;

		li {
			max-width: 40%;
			margin: 1rem;
		}

		img {
			width: 100%;
			height: auto;
			border-radius: 4px;
		}
	}
}