.documents_list_container {
	padding: 2rem 10vw;
	list-style: none;
	margin-bottom: 10rem;

	@media screen and (max-width: 700px) {
		padding: 2rem 2vw;
	}

	.individual_document {
		margin-bottom: 5rem;
		margin-left: var(--navbar-width);
	}
}